<style>
    .Waiting {
        background-color: var(--color-waiting);
    }

    .Confirmed {
        background-color: var(--color-confirmed);
    }

    .Cancelled {
        background-color: var(--color-cancelled);
    }

    .status {
        width: 12rem;
        text-align: center;
        border-radius: 5px;
        padding: .5rem 2rem;
    }

    .meeting-card {
        width: 70%;
        border: 1px solid var(--background-grey-color);
        padding: 3rem 2rem;
        display: flex;
        justify-content: space-between;
        margin: 5rem auto;
    }

    .create-meeting-btn {
        text-decoration: none;
        color: inherit;
        border-bottom: solid 3px var(--color-confirmed);
        font-size: 2.5rem;
        transition: all .5s;
        padding: 1rem 2rem;
        line-height: 1.2;
    }

    .create-meeting-btn:hover {
        border-radius: 5px;
        background-color: var(--color-confirmed);
    }

    .case-title a {
        font-size: 2.5rem;
        text-decoration: none;
        color: inherit;
    }

    .meeting-overview-header {
        display: flex;
        justify-content: space-between;
    }
</style>

{{message}}
<div class="meeting-overview-header">
    <h1>Meetings overview</h1>
    <a class="create-meeting-btn" href="/meeting/create" role="button">Create new meeting</a>
</div>

{{#each meetings}}
<div class="meeting-card">
    <p class="case-title">
        <a href="/meeting/show/{{id}}" <strong>{{title}}</strong>
        </a>
    </p>
    <div>

        <p class="{{status}} status">{{status}}</p>
        <a href="/meeting/show/{{id}}">See more details</a>
    </div>
</div>
{{/each}}