{{#if translator}}
<h1>Translator Profile</h1>

<div class="profile-img">
    <img src="{{translator.profileImageUrl}}" alt="profile Image">
</div>

<p>Name: {{translator.user.username}}</p>


{{#if translator.price}}
<p>Fee: € {{translator.price}}/hr</p>
{{/if}}
<p>Rating: {{translator.rating}}</p>

<p>E-Mail: {{translator.user.email}}</p>
<p>Phone Number: {{translator.telephone}}</p>
<p>Location: {{translator.location}}</p>

<div class="language-wrapper">
    <p>Languages</p>
    <ul class="languages-list">
        {{#each translator.languages}}
        <li>{{this.language}} Level: {{this.level}}</li>
        {{/each}}
    </ul>
</div>

<div class="background-wrapper">
    <p>Background</p>
    <ul class="background-list">
        {{#each translator.background}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

<div class="setting-wrapper">
    <p>Preferred Setting</p>
    <ul class="setting-list">
        {{#each translator.preferedSetting}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

<a href="/edit">Edit Profile</a>

{{/if}} {{#if wo}}


<p>Wo Page</p>
{{wo}} {{/if}}