<h1>Profile page</h1>

{{#if translator}}
<p>Translator Page</p>

{{translatorData}} {{/if}}

<p>{{translator.loginData.username}}</p>
<p>Fee: € {{translator.price}}/hr</p>
<p>Rating: {{translator.rating}}</p>
<p>E-Mail: {{translator.loginData.mail}}</p>

<div class="profile-img">
    <img src="{{translator.profileImageUrl}}" alt="profile Image"> {{translator}} {{/if}} {{#if wo}}
</div>






<p>Wo Page</p>
{{wo}} {{/if}} {{!-- { background: [ 'Professional translator', 'Expertise in art' ], preferedSetting: [ 'No preferences'],
_id: 5b8e4e84b9d308467d2aeebb, loginData: { _id: 5b8e4e83b9d308467d2aeeb7, email: 'test@professional.com', password: '$2a$08$ztcvtvpRp1EHNGYVnFo1wu7AtiQkcCxXwweSCM251jtfGphPQAVeG',
username: 'testprofessional', role: 'Translator', __v: 0 }, telephone: '23-890', role: 'Professional', profileImageUrl: 'https://tinyurl.com/ydghhnky',
location: 'Leipzig', languages: [ { _id: 5b8e4e84b9d308467d2aeebd, language: 'Tigrinya', level: 'C1' }, { _id: 5b8e4e84b9d308467d2aeebc,
language: 'Wolof', level: 'C1' } ], price: 100, rating: 5, availability: 'Call to make an appointment', __v: 0 } --}}

{{translator}} {{/if}} {{#if wo}}
<p>Wo Page</p>
{{wo}} {{/if}}
